
<!doctype html>
<html lang="en">
  <head>
    <title>ABA - Transporte de Mascotas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/mp.css"
    
    <!-- Bootstrap CSS -->
  </head>
    <body>
        <div class="form-grid">
            <p><label for="nombre">Nombre:</label></p>
            <p><input type="text" id="nombre" name="nombre"></p>

            <label for="email">Email:</label>
            <p><input type="email" id="email" name="email"></p>

            <label for="mensaje">Mensaje:</label>
            <p><textarea id="mensaje" name="mensaje"></textarea></p>
        </div> 
        <button type="submit">Enviar</button>            
        <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d1423760.7200647807!2d-71.76897957663357!3d-34.02009703119218!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x9662c5410425af2f%3A0x505e1131102b91d!2sChile!3m2!1d-35.675146999999996!2d-71.542969!4m5!1s0x9662c5410425af2f%3A0x505e1131102b91d!2sChile!3m2!1d-35.675146999999996!2d-71.542969!5e0!3m2!1ses!2sve!4v1751929782839!5m2!1ses!2sve" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <div>  
      </body>
</html>